<% include ../partials/head %>
<h4>Home</h4>
<hr>
<main id="content">
      <% if(!users.length){  %>
        <p><%= 'No Results, sorry' %></p>
      <% } else { %>
  <% let columnCount = 0 %>
      <% users.forEach( function(profile){ %>
        <% if(columnCount === 0){ %>
          <div class="row">
            <div class="animated rollIn four columns card">
              <p>Name: <%= profile.name %></p>
              <p>IGN: <%= profile.ign %></p>
              <div id="<%= profile.lol_id %>" class="stats">
                <p>Normal Wins: <div class="bar" id="normal"></div></p>
                <p>Ranked Wins: <div class="bar" id="ranked"></div></p>
                <p>Assists: <div class="bar" id="assists"></div></p>
                <button class="button message button-primary" data-ign="<%= profile.ign %>">Message</button>
              </div>
            </div>
        <% columnCount++ %>
        <% }else if(columnCount === 1){ %>
          <div class="animated rollIn four columns card">
              <p>Name: <%= profile.name %></p>
              <p>IGN: <%= profile.ign %></p>
              <div id="<%= profile.lol_id %>" class="stats">
                <p>Normal Wins: <div class="bar" id="normal"></div></p>
                <p>Ranked Wins: <div class="bar" id="ranked"></div></p>
                <p>Assists: <div class="bar" id="assists"></div></p>
                <button class="button message button-primary" data-ign="<%= profile.ign %>">Message</button>
              </div>
            </div>
          <% columnCount++ %>
        <% }else{ %>
          <div class="animated rollIn four columns card">
              <p>Name: <%= profile.name %></p>
              <p>IGN: <%= profile.ign %></p>
              <div id="<%= profile.lol_id %>" class="stats">
                <p>Normal Wins: <div class="bar" id="normal"></div></p>
                <p>Ranked Wins: <div class="bar" id="ranked"></div></p>
                <p>Assists: <div class="bar" id="assists"></div></p>
                <button class="button message button-primary" data-ign="<%= profile.ign %>">Message</button>
              </div>
            </div>
          </div>
          <br><br>
          <% columnCount = 0 %>
        <% } %>
      <% }) %>
  <% } %>
</main>
<% include ../partials/footer %>
