<% include ../partials/head %>
<main id="content">
<h4>Home</h4>
<hr>
      <!-- clean users of those that are taken -->
      <% try { %>
      <% function taken(profile){ return !profile.taken } %>
      <% users = users.filter(taken)  %>
      <% } catch(e) { %>
      <% console.log('no users') %>
      <% users = [] %>
      <% } %>
      <!-- end clean  -->
      <% if(!users.length){  %>
        <p><%= 'No Summoners available to play, sorry.' %></p>
      <% } else { %>
  <% let columnCount = 0 %>
      <% users.forEach( function(profile){ %>
        <% if(columnCount === 0){ %>
          <div class="row">
            <div class="animated rollIn four columns card">
              <p>Name: <%= profile.name %></p>
              <p>IGN: <%= profile.ign %></p>
              <div id="<%= profile.lol_id %>" class="stats">
                <p>Normal Wins: <span class="bar" id="normal"></span></p>
                <p>Ranked Wins: <span class="bar" id="ranked"></span></p>
                <p>Assists: <span class="bar" id="assists"></span></p>
                <button class="button message button-primary" data-ign="<%= profile.ign %>">Message</button>
              </div>
            </div>
        <% columnCount++ %>
        <% }else if(columnCount === 1){ %>
          <div class="animated rollIn four columns card">
              <p>Name: <%= profile.name %></p>
              <p>IGN: <%= profile.ign %></p>
              <div id="<%= profile.lol_id %>" class="stats">
                <p>Normal Wins: <span class="bar" id="normal"></span></p>
                <p>Ranked Wins: <span class="bar" id="ranked"></span></p>
                <p>Assists: <span class="bar" id="assists"></span></p>
                <button class="button message button-primary" data-ign="<%= profile.ign %>">Message</button>
              </div>
            </div>
          <% columnCount++ %>
        <% }else{ %>
          <div class="animated rollIn four columns card">
              <p>Name: <%= profile.name %></p>
              <p>IGN: <%= profile.ign %></p>
              <div id="<%= profile.lol_id %>" class="stats">
                <p>Normal Wins: <span class="bar" id="normal"></span></p>
                <p>Ranked Wins: <span class="bar" id="ranked"></span></p>
                <p>Assists: <span class="bar" id="assists"></span></p>
                <button class="button message button-primary" data-ign="<%= profile.ign %>">Message</button>
              </div>
            </div>
          </div>
          <br><br>
          <% columnCount = 0 %>
        <% } %>
      <% }) %>
  <% } %>
</main>
<% include ../partials/footer %>
