<% include ../partials/head %>
<h4>Home</h4>
<hr>
<main id="content">
      <% if(!users.length){  %>
        <p><%= 'No Results, sorry' %></p>
      <% } else { %>
  <% let columnCount = 0 %>
      <% users.forEach( function(profile){ %>
        <% if(columnCount === 0){ %>
          <div class="row">
            <div class="animated rollIn four columns card">
              <p>Name: <%= profile.name %></p>
              <p>IGN: <%= profile.ign %></p>
              <p><span id="<%= profile.lol_id %>"> </span></p>
            </div>
        <% columnCount++ %>
        <% }else if(columnCount === 1){ %>
          <div class="animated rollIn four columns card">
              <p>Name: <%= profile.name %></p>
              <p>IGN: <%= profile.ign %></p>
              <p><span id="<%= profile.lol_id %>"> </span></p>
            </div>
          <% columnCount++ %>
        <% }else{ %>
          <div class="animated rollIn four columns card">
              <p>Name: <%= profile.name %></p>
              <p>IGN: <%= profile.ign %></p>
              <p><span id="<%= profile.lol_id %>"> </span></p>
            </div>
          </div>
          <% columnCount = 0 %>
        <% } %>
      <% }) %>
  <% } %>
</main>
<% include ../partials/footer %>
